.home-page {
  padding: 2rem;
  background-color: #f4f4f9;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container {
  text-align: center;
  padding: 3rem;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Optional: constrain width for larger screens */
}

.home-container h1 {
  color: #8e44ad;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
}

@media (max-width: 768px) {
    .home-page {
        padding: 1rem;
    }

    .home-container {
        padding: 1.5rem;
    }

    .home-container h1 {
        font-size: 2rem;
    }

    .home-container p {
        font-size: 1rem;
    }
}
