.sub-skills-page {
  padding: 1rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.sub-skills-container {
  margin-top: 2rem;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .sub-skills-page .MuiDataGrid-root {
        width: 100%;
        overflow-x: auto;
    }

    .sub-skills-page .MuiDataGrid-columnHeaders, .sub-skills-page .MuiDataGrid-cell {
        min-width: 150px;
    }
}
